@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=FiraGO:wght@400&display=swap');

.btn-primary {
    @apply flex items-center justify-center gap-[10px] px-[20px] py-[10px] min-w-[225px] h-[39px] 
           font-medium text-black bg-white border border-[#8338EC] rounded-[5px] transition-all 
           hover:bg-[#8338EC] hover:text-white;
    font-family: "FiraGO", sans-serif;
    font-size: 16px;
}

.btn-secondary {
    @apply flex items-center justify-center gap-[10px] px-[20px] py-[10px] w-[268px] h-[40px] 
           font-medium bg-[#8338EC] text-white border border-[#8338EC] rounded-[5px] transition-all 
           hover:bg-[#6f2dbd] hover:border-[#6f2dbd];
    font-family: "FiraGO", sans-serif;
    font-size: 16px;
    white-space: nowrap;
}